#ignore kicad backup files
*.bak
*.kicad_pcb-bak
#ignore ltspice log files
simulation/*.log
simulation/*.plt
simulation/*.raw
simulation/*.net
#matlab backup files
*.m~
#osx files
*.DS_Store
#for firmware
*.tmp
firmware/.Xil/

